#frontend
/frontend/node_modules

#Admin frontend
/admin-frontend/node_modules

#backend
/backend/.env
/backend/.htaccess
/backend/config
/backend/migrations
/backend/vendor/
/backend/composer.lock
/backend/uploads

#Data samples
/data-samples

# analytics
/analytics-service/web-fingerprint-analytic
analytics-service/app/__pycache__/
/analytics-service/app/config/__pycache__/
/analytics-service/app/models/__pycache__/
/analytics-service/app/routes/__pycache__/
/analytics-service/app/services/__pycache__/
/analytics-service/.env

# Security Reports
/security-reports

notes.txt

